*{
    padding: 0px;
    margin: 0px;
}
.signupContain{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url('../images/signupBanner.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-bottom: 20px; */
}
.overlay{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    /* padding-bottom: 15px; */
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.507));
}
.signupForm{
    margin-top: 5vh;
    border-radius: 10px;
    background-color: white;
}
.myLinks{
    color:white;
    background-color: #f98b00;
    font-weight: 600;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 8px; 
    text-decoration: none;
}
#test1,#test2{
    margin-top: 30px;
}
.tabs .tab a{
    color:#f98b00!important;
} /*Black color to the text*/

.tabs .tab a:hover {
    /* background-color:#eee!important; */
    color:#f98b00!important;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#d1ccfc!important;
    color:#f98b00!important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#f98b00!important;
} /*Color of underline*/
.btn{
    background-color:#f98b00!important;
}
.btn:hover {
    background-color: #eea44a!important;
}
/* label color */
/* .input-field label {
    color: #0099e6b6!important;
} */
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #f98b00!important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #f98b00!important;
    box-shadow: 0 1px 0 0 #f98b00!important;
}
.input-field input[type=password]:focus + label {
    color: #f98b00!important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #f98b00!important;
    box-shadow: 0 1px 0 0 #f98b00!important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #f98b00!important;
    box-shadow: 0 1px 0 0 #f98b00!important;
}
.input-field input[type=password].valid {
    border-bottom: 1px solid #f98b00!important;
    box-shadow: 0 1px 0 0 #f98b00!important;
}
/* invalid color */
/* .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
} */
/* icon prefix focus color */
/* .input-field .prefix.active {
    color: #000;
} */
.mobImg{
    height: 200px;
    background-image: url('../images/signupBanner.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dropdown-content li>span{
    color: #f98b00!important;
}
.h-100{
    max-height: 100vh !important;
}
/* .pic1{
    background-image:url('../images/delfi-de-la-rua-140752-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh!important;
}
.pic2{
    background-image:url('../images/13970-classroom-teachers-students-desk-Blackboard-college-748x468.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh!important;
}
.pic3{
    background-image:url('../images/pexels-photo-1489120.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh!important;
} */
.myover{
    min-height: 100vh;
    width: 100%;
    /* padding-bottom: 15px; */
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.507));
}
.myheader{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 15px 10px 10px 10px;
    color: white!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
}
.myheader a{
    color: white!important;
    font-weight: 600;
}
.links{
    padding: 8px 15px;
}
/* .my{
    height: 93vh;
} */
.myindicator{
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 75px;
    background-color: #F69618;
    will-change: left, right;
}
.containerPadding{
    padding: 30px 0px;
}
.jumbotext{
    color: white!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
}
.noLeft{
    padding-left: 0px!important; 
    padding-right: 0px!important; 
}
ul a{
    display: inline-block;
    color: lightgray!important;
    padding: 5px 0px;
}
.containerPadding>i{
    margin: 5px 0px;
}
.jumboHeading{
    padding: 30px 0px;
    position: relative;
}
.fa {
    padding: 4px;
}

.fa::before {
    display: inline-block;
    width: 1.28571429em;
    text-align: center;
    margin-right: 5px;
}
.under{
    position: absolute;
    height: 3px;
    background-color: #F69618;
    width: 50px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.hamburger{
    display: none;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
}
.containHamburger{
    float: right;
    position: relative;
    bottom: 3px;
}

.focusColor:focus{
    background-color: rgba(0, 0, 0, 0.08)
}
.backImg{
    background-image: url('../images/wix-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px
}

.marginbtm{
    margin-bottom: 20px;
}

[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:before,[type="radio"].with-gap:checked+span:after {
    border: 2px solid #f98b00!important;
}

[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:after {
    background-color: #f98b00!important;
}

[type="radio"]:not(:checked)+span,[type="radio"]:checked+span {
    padding-left: 0px!important;
    padding-left: 27px!important;
}

.radiomargin{
    margin-right: 13px;
}
.hideOnMedAndUp{
    display: block;
}
.hideOnSmall{
    display: block;
}


@media screen and (max-width:768px){
    .onMob{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
@media screen and (max-width:375px){
    .headFont{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:360px){
    .headFont{
        font-size: 1rem;
    }
}

@media screen and (min-width:601px){
    .hideOnMedAndUp{
        display: none;
    }
}
@media screen and (max-width:600px){
    .hideOnSmall{
        display: none;
    }
}